requests
urllib3
httpx[http2]
aiohttp
websocket-client
python-socketio[client]
cloudscraper
beautifulsoup4
colorama
termcolor
tqdm
pyfiglet
faker
fake-useragent
user-agent
pycryptodome
psutil
portalocker
asyncio
gunicorn
